{% extends 'base.html' %}
{% block title %}Wilderness Unlimited{% endblock title %}
{% block base_body %}
<div class="">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="tab-bar-section">
        <h1 class="title">Wilderness Unlimited</h1>
      </section>
      <section class="top-bar-section right">
          <a href="/login" class=" button round success">Member sign-in</a>
      </section>
    </nav>
<section role="main">
<div class='row'>
<div class='large-12 columns'>
<h1>WU</h1>
</div>
</div>
  <div class="row">
      <div class='small-12 columns'>
        <ul class="example-orbit" data-orbit>
        <li>
          <img src="/static/Photos/CaliforniaOak.png" alt="slide 1" />
        </li>
        <li>
          <img src="/static/Photos/blacktailfog.jpg" alt="slide 2" />

        </li>
        <li>
          <img src="/static/Photos/rollinghills.jpg" alt="slide 3" />

        </li>
      </ul>
      </div>
  </div>
</section>
  </div>
</div>

{% endblock base_body %}