
    <div class='row'>
      <div class='large-8 large-centered columns'>
        <h2>Standby?</h2>
        There isn't enough room during those dates.<br/>
        You can go on standby, or change the reservation (try fewer people, different dates, or a different location)
      </div>
    </div>
    <br/>
   <div class='row'>
    <div class='large-6 columns'>
      <a href='#' id='standby_yes' class='button expand'>Yes, add to standby list</a>
    </div>

    <div class='large-6 columns'>
      <a href='#' class='button expand' id='standby_no' >No, I'll change my reservation</a>
    </div>
   </div>
