{% extends 'base_resv.html' %}


{% block title %}WU/Resv/Standby{% endblock title %}

{% block page_js %}
<link rel="stylesheet" href="/static/css/jquery.dataTables.css"/>
<script src="/static/js/vendor/jquery.dataTables.js"></script>
{% endblock page_js %}


{% block content_title %}Standby{% endblock content_title %}



 {% block content %}
Choose what you'd like to do with this segment:<br/>
{{ seg }}
Adjustments needed: {{ adjustments_needed }} </br>
{{ form }}

<a href='/confirmsegment/{{ seg.id }}' class='button expand' id='standby_confirm' >Confirm reservation</a>
<a href='/cancel/segment/{{ seg.id }}' id='standby_cancel' class='button expand'>Cancel standby</a>


{% endblock content %}
