


   <div class='row' id='resvseg_container'>
      <div class='large-8 large-centered columns'>
        <div id="segformcontainer" class="row" >
            <div class='large-12 large-centered columns'>
                
                <div id="seglocation" class="row" >
                  <div class='large-12 large-centered columns'>
                    
                    <div class='large-8 large-centered columns'>
                    <input type='hidden' id='is_hunting_holder' value='stuff'/>
                              <label for="id_person">Select a person</label>
                              <select class="select" id="id_person" name="id_person" style="width:100%">
                                <option value="1">John</option>
                                <option value="2">Paul</option>
                              </select>
                    </div>
                    <div class='large-8 large-centered columns'>
                    <div class='button' onclick="submit_person_button();">Submit</div>
                    </div>
                  </div>
                </div>


            </div>
        </div>
        </div>
      </div>
